@model IEnumerable<SPMS.Models.Exam>

   
<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullMarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassMarks)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullMarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassMarks)
                </td>
                <td>
                    @Html.ActionLink("View Result", "MarksAdded", new { examid = item.ExamId })
                </td>
            </tr>
        }

    </table>
    