@model SPMS.Models.Accounting

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Accounting</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClassName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClassName)
                @Html.ValidationMessageFor(model => model.ClassName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rollno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rollno)
                @Html.ValidationMessageFor(model => model.Rollno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StdSchoolId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StdSchoolId)
                @Html.ValidationMessageFor(model => model.StdSchoolId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TobePaid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TobePaid)
                @Html.ValidationMessageFor(model => model.TobePaid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaidAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaidAmount)
                @Html.ValidationMessageFor(model => model.PaidAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Due, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Due)
                @Html.ValidationMessageFor(model => model.Due)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
